<nav class="navbar navbar-expand-lg bg-light">
  <div id="container-header" class="container-fluid">
    <h1 id="w-text">{{title}}</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" id="w-text" [routerLink]="['/']">Productos</a>
        <a class="nav-link" id="w-text" [routerLink]="['/about']">Contacto</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="text-center"> {{title}} 2022 - Tandil - Provincia de Buenos Aires - Argentina - Seminario Angular por Martin Ezequiel Acosta</footer>
