.container{
  background-color: rgb(255, 243, 215);
}
#title{
  background-color: rgb(255, 243, 215);
}
.offer{
    background-color: black;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: url(/assets/img/offer.png);
    border: 2px solid black;
    color: white;
}
th{
  padding: 20px;
}
td{
    vertical-align: middle;
}
