<div class="container">
  <div>
    <h2 id="title" class="text-center">¿Quienes Somos?</h2>
    <p id="text">
      Somos una empresa local de Tandil, con envíos a todo el país. Conformada a partir de dos socios,
      la cual comenzó a mediados de 2019 y logramos establecernos con una sucursal en el centro de nuestra ciudad.
      Contamos con un amplio stock de productos, realizamos actualizaciones, limpieza de hardware como la venta del mismo.
    </p>
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1506.0996636698817!2d-59.13941712510459!3d-37.329781427859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95911f97586bd559%3A0x6fa29708fb8a63a1!2sUNICEN%20-%20Edificio%20Rectorado!5e0!3m2!1ses-419!2sar!4v1669911860519!5m2!1ses-419!2sar" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
<div class="container">
  <img class="local" src="./assets/img/local.jpg" alt="Local">
  <div>
  <h2 id="title" class="text-center">Contacto</h2>
  <p id="text">
    Nuestra empresa garantiza envíos gratuitos y seguros.
  </p>
  <p id="text">
    Ante cualquier inconveniente no dude en contactarse con nosotros.
  </p>
  <p id="text" class="text-center">
    <span class="material-symbols-outlined">
      call
    </span>
    0249 555-5555
  </p>
  <p id="text" class="text-center">
    <span class="material-symbols-outlined">
      mail
    </span>
    tecstore@support.com
  </p>
</div>
</div>
